<!DOCTYPE>
<html>

  <head>
    <title>WDD Lab 8: WDDoubler</title>
    <link rel="stylesheet" href="{{ static_url('style.css') }}" type="text/css"/>
  </head>

  <body>

    <a href="/">&larr;Do it again</a>

    <div id="doubler">

      <div class="vid left">
        <iframe class="youtube-player" type="text/html" width="640" height="385" src="{{v1_url}}" frameborder="0">
        </iframe>

      </div>

      <div class="vid right">
        <iframe class="youtube-player" type="text/html" width="640" height="385" src="{{v2_url}}" frameborder="0">
        </iframe>
      </div>

    </div>

  </body>

</html>
