body
{
    font-family:Verdana;
    font-size:12px;
}
.news_feed_item
{
    border:1px solid #111;
    width:400px;
    padding:10px;
    margin:2px;
}
.friend_name
{
    font-weight:bold;
    color:#4169E1;
}
.link_information
{
    margin-left:25px;
    padding:5px;
    border:1px dashed #aaa;
}
a
{
    text-decoration:none;
    color:blue;
    font-weight:bold;
}
a:hover, a:active
{
    color:#4169E1;
    text-decoration:underline;
}
#feed_title
{
    font-size:30px;
    font-weight:bold;
    margin-bottom:10px;
    margin-top:5px;
}